<a href="https://colab.research.google.com/github/MSVGH1/IAD/blob/main/%D0%9B%D0%A01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
adult_data_url = 'https://raw.githubusercontent.com/radiukpavlo/intelligent-data-analysis/main/02_assignments/ida_lab-01_adult_pandas/adult.data.csv'

data = pd.read_csv(adult_data_url)
data.head()
#print(data.info())
#pd.crosstab(data['sex'], data['education-num'], margins=True)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
#Завдання 1
data['sex'].tolist().count('Female')

10771

In [ ]:
#Завдання 2
round(data[data['sex'] == 'Male']['age'].mean())

39

In [ ]:
#Завдання 3
(float((data['native-country'] == 'United-States').sum()) * 100 ) / data.shape[0]

89.5857006848684

In [ ]:
#Завдання 4
age1 = data[data['salary'] == '>50K']['age']

print("Средній вік : {0} ; середньоквадратичні відхилення віку - {1} ".format(
    round(age1.mean()), 
    round(age1.std(), 1)))

Средній вік : 44 ; середньоквадратичні відхилення віку - 10.5

In [ ]:
#Завдання 5
(data[(data['age'] >= 30)&(data['age'] < 50)]['age'].count() *100) / data['age'].count()

48.48745431651362

In [ ]:
#Завдання 6
data[(data['salary'] == "<=50K")&(data['education'] != '1st-4st')&(data['education'] != 'HS-grad')&(data['education'] != 'Some-college')&(data['education'] != '5th-th')]['salary'].count()

9990

In [ ]:
#Завдання 7
for (race, sex), iter1 in data.groupby(['race', 'sex']):
   print("Раса: {0}, стать: {1}".format(race, sex))
   print(iter1['age'].describe())

Раса: Amer-Indian-Eskimo, стать: Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Раса: Amer-Indian-Eskimo, стать: Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
Раса: Asian-Pac-Islander, стать: Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Раса: Asian-Pac-Islander, стать: Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Раса: Black, стать: Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Раса: Black, стать: Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Раса: Other, стать: Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Раса: Other, стать: Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Раса: White, стать: Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Раса: White, стать: Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

In [ ]:
#Завдання 8

prof = data.groupby(['occupation'])[['salary']].max()
prof[prof['salary'] =='>50K']

                  salary
occupation
?                   >50K
Adm-clerical        >50K
Armed-Forces        >50K
Craft-repair        >50K
Exec-managerial     >50K
Farming-fishing     >50K
Handlers-cleaners   >50K
Machine-op-inspct   >50K
Other-service       >50K
Priv-house-serv     >50K
Prof-specialty      >50K
Protective-serv     >50K
Sales               >50K
Tech-support        >50K
Transport-moving    >50K

In [ ]:
#Завдання 9
h = data['hours-per-week'].agg(['min','max'])
sl = data[(data['hours-per-week'] == h['min'])&(data['salary'] == '>50K')]['salary'].count()
minsl = data[(data['hours-per-week'] == h['min'])]['salary'].count()
print(f"""
люди з min годин і зарплатою >50K - {sl}
людей з min годин - {minsl}""")
round(sl*100/(minsl))

люди з min годин і зарплатою >50K - 2
людей з min годин - 20

10

In [ ]:
#Завдання 10

for (country, salary), buff in data.groupby(['sex', 'salary']):
    print(country, salary, round(buff['hours-per-week'].mean(), 2))

Female <=50K 35.92
Female >50K 40.43
Male <=50K 40.69
Male >50K 46.37