<a href="https://colab.research.google.com/github/MSVGH1/IAD/blob/main/%D0%9B%D0%A06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# відключимо попередження Anaconda
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.linear_model import LinearRegression, LassoCV, Lasso
from sklearn.ensemble import RandomForestRegressor

In [2]:
winequality_white_url = 'https://raw.githubusercontent.com/radiukpavlo/intelligent-data-analysis/main/02_assignments/ida_lab-06_regression-wine/winequality-white.csv'
data = pd.read_csv(winequality_white_url, sep=';')

In [3]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [5]:
y = data['quality']
X = data.drop('quality', axis=1)

X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.3, random_state=17)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_valid_scaled = scaler.transform(X_valid)

In [8]:
linreg = LinearRegression()
linreg.fit(X_train_scaled, y_train)

LinearRegression()

In [7]:
linreg_coef = pd.DataFrame(linreg.coef_, index=data.columns[:11])
linreg_coef.sort_values(0, ascending=False)

                             0
residual sugar        0.538164
pH                    0.150036
alcohol               0.129533
fixed acidity         0.097822
sulphates             0.062053
free sulfur dioxide   0.042180
total sulfur dioxide  0.014304
chlorides             0.008127
citric acid          -0.000183
volatile acidity     -0.192260
density              -0.665720

In [12]:
#Завдання 1
from sklearn.metrics import mean_squared_error
train_pred = linreg.predict(X_train_scaled)
test_pred = linreg.predict(X_valid_scaled)
print("Середня квадратична помилка (навчальння): ", mean_squared_error(y_train, train_pred))
print("Середня квадратична помилка (валідація): ", mean_squared_error(y_valid, test_pred))

Середня квадратична помилка (навчальння):  0.5580606489803572
Середня квадратична помилка (валідація):  0.5842473102404545

In [13]:
lasso1 = Lasso(alpha=0.01, random_state=17)
lasso1.fit(X_train_scaled, y_train)

Lasso(alpha=0.01, random_state=17)

In [14]:
lasso1_coef = pd.DataFrame(lasso1.coef_, index=data.columns[:11])
lasso1_coef.sort_values(0, ascending=False)

                             0
alcohol               0.322425
residual sugar        0.256363
pH                    0.067277
free sulfur dioxide   0.043088
sulphates             0.029722
fixed acidity        -0.000000
citric acid          -0.000000
total sulfur dioxide -0.000000
chlorides            -0.002747
volatile acidity     -0.188479
density              -0.235492

In [16]:
#Завдання 2
alphas = np.logspace(-6, 2, 200)
lasso_cv = LassoCV(alphas=alphas, random_state=17)
lasso_cv.fit(X_train_scaled, y_train)

LassoCV(alphas=array([1.00000000e-06, 1.09698580e-06, 1.20337784e-06, 1.32008840e-06,
       1.44811823e-06, 1.58856513e-06, 1.74263339e-06, 1.91164408e-06,
       2.09704640e-06, 2.30043012e-06, 2.52353917e-06, 2.76828663e-06,
       3.03677112e-06, 3.33129479e-06, 3.65438307e-06, 4.00880633e-06,
       4.39760361e-06, 4.82410870e-06, 5.29197874e-06, 5.80522552e-06,
       6.36824994e-06, 6.98587975e-0...
       1.18953407e+01, 1.30490198e+01, 1.43145894e+01, 1.57029012e+01,
       1.72258597e+01, 1.88965234e+01, 2.07292178e+01, 2.27396575e+01,
       2.49450814e+01, 2.73644000e+01, 3.00183581e+01, 3.29297126e+01,
       3.61234270e+01, 3.96268864e+01, 4.34701316e+01, 4.76861170e+01,
       5.23109931e+01, 5.73844165e+01, 6.29498899e+01, 6.90551352e+01,
       7.57525026e+01, 8.30994195e+01, 9.11588830e+01, 1.00000000e+02]),
        random_state=17)

In [17]:
lasso_cv.alpha_

0.0002833096101839324

In [18]:
forest1 = RandomForestRegressor(random_state=17)
forest1.fit(X_train_scaled, y_train)

RandomForestRegressor(random_state=17)

In [35]:
#Завдання 3
forest1_mse_cv = np.mean(np.abs(cross_val_score(forest1, X_train_scaled, y_train, scoring='neg_mean_squared_error')))
print(forest1_mse_cv)

0.4142003732204039

In [31]:
rf_params = {
             'max_features': [3, 4, 5, 7, 9],
             'min_samples_leaf': [1, 3, 5, 7, 9],
             'max_depth': [5, 7, 9, 11, 13]
             }

In [32]:
%%time
forest2 = GridSearchCV(forest1, rf_params)
forest2.fit(X_train_scaled, y_train)

CPU times: user 5min 1s, sys: 727 ms, total: 5min 2s
Wall time: 5min 2s

GridSearchCV(estimator=RandomForestRegressor(random_state=17),
             param_grid={'max_depth': [5, 7, 9, 11, 13],
                         'max_features': [3, 4, 5, 7, 9],
                         'min_samples_leaf': [1, 3, 5, 7, 9]})

In [33]:
forest2.best_params_, forest2.best_score_

({'max_depth': 13, 'max_features': 4, 'min_samples_leaf': 1},
 0.467424528828548)

In [38]:
rf_importance = pd.DataFrame(forest1.feature_importances_, data.drop('quality', axis=1).columns, ['Importances'])
rf_importance.sort_values(by='Importances', ascending=False)

                      Importances
alcohol                  0.247273
volatile acidity         0.125960
free sulfur dioxide      0.116562
pH                       0.071950
residual sugar           0.070903
total sulfur dioxide     0.067204
chlorides                0.063729
fixed acidity            0.061918
sulphates                0.059056
citric acid              0.058904
density                  0.056540

In [41]:
#Завдання 4
rf_importance = pd.DataFrame(forest1.feature_importances_, data.drop('quality', axis=1).columns, ['Importances'])
rf_importance.sort_values(by='Importances', ascending=False)

                      Importances
alcohol                  0.247273
volatile acidity         0.125960
free sulfur dioxide      0.116562
pH                       0.071950
residual sugar           0.070903
total sulfur dioxide     0.067204
chlorides                0.063729
fixed acidity            0.061918
sulphates                0.059056
citric acid              0.058904
density                  0.056540

In [43]:
#Завдання 5
#Зробіть висновки щодо якості побудованих моделей: лінійна регресія, LASSO-регресія та випадковий ліс. Охорайтеризуйте знайдені оцінки впливу ознак на якість вина.

#після навчання 3 моделей, можна зробити висновок, що модель випадкового лісу виявилася кращою через те, що залежність ознак від якості вина далека від лінійної.